
body {
    width: 1920px;
    padding: auto;
    margin: auto;
    color: black;
}

header {
    background-color: cadetblue;
    display: block;
    float: clear;
}

nav {
  position: fixed;
  padding: 30px 0 0 0;
  background-color: #BCD;
  width: 1900px;
  
}
nav ul {
    margin-left: 300px;

}
nav li {
    list-style-type: none;
    padding:10px 30px;
    float: left;
}

a {
    color: #000;
    text-decoration: none;
    text-indent: none;
    padding: 0;
}

.banner {
    float: left;
    padding:0;
    margin: 0;

    
    background-color: cadetblue;
}


#wrapper {
    
}

#myCanvas {
    
}
